# Python virtual environment
.venv/

data/raw/
data/processed/

# Environment variables / passwords
.env

# Python cache
__pycache__/
*.pyc

# macOS
.DS_Store

# Jupyter checkpoints
.ipynb_checkpoints/